@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.dark{
    --BACKGROUND-COLOR:#222938;
    --TEXT-COLOR:rgba(255, 255, 255, 0.92);
    --PRIMARY-COLOR:orange;
}
.light{
    --BACKGROUND-COLOR:rgba(255, 255, 255, 0.92);
    --TEXT-COLOR:rgba(255, 255, 255, 0.92);
    --PRIMARY-COLOR:orange;
    --CARD-BACKGROUND:#222938;
}

p,h1,h2,h3,h4,h5,h6,div{
    overflow-wrap: break-word;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

nav{
    /* height: 5rem; */
    background-color: var(--CARD-BACKGROUND);
    color: var(--TEXT-COLOR);
    width: 100%;
    padding: 10px 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
    position: fixed;
    z-index: 1;
}
img{
    display: block;
    max-width: 100%;
    min-height: 18rem;
}
nav img{
    min-height: 2rem;
    height: 3rem;
    border: 2px white solid;
    border-radius: 8px;
}
body{
    /* height: 100%; */
    margin: 0;
    display:block;
    background-color: var(--BACKGROUND-COLOR);
}

main{
    background-color: var(--BACKGROUND-COLOR);
    color: var(--TEXT-COLOR);
    height: inherit;
    display: flex;
    flex-flow: wrap;
    column-gap: 5rem;
    row-gap: 5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    position: relative;
    top:10rem;
}
.quiz-card{

    width: 20rem;
    height: fit-content;
    background-color:var(--CARD-BACKGROUND);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(194, 189, 189, 0.9) 5px 5px 12px 10px;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}
.btn{
    padding: 5px 4rem;
    border-radius: 6px;
    border:2px var(--PRIMARY-COLOR) solid;
    background-color: var(--PRIMARY-COLOR);
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}
.green-btn{
    padding: 5px 4rem;
    border-radius: 6px;
    border:2px var(--PRIMARY-COLOR) solid;
    background-color: green;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}
.red-btn{
    padding: 5px 4rem;
    border-radius: 6px;
    border:2px var(--PRIMARY-COLOR) solid;
    background-color: red;
    color: inherit;
    font-weight: bold;
    cursor: pointer;
}

.score-text{
    color: var(--TEXT-COLOR);
    position: absolute;
    margin: auto;
    top: 15%;
    left: 30%;

}


.quiz-section{
    width: 40rem;
    height: fit-content;
    background-color:inherit;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(194, 189, 189, 0.9) 5px 5px 12px 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    margin-top: 5rem;
}

.options-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-count{
    font-size: 2rem;
}
.question-count span{
    font-size: 3rem;
}

@media (max-width:690px) {
    main{
        flex-direction: column;
        row-gap: 2rem;
    
    }
    .quiz-section{
        flex-direction: column;
        width: 20rem;
    }
    .question-count{
        font-size: 1rem;
    }
    .question-count span{
        font-size: 1rem;
    }
    .col-flex{
        padding: 2rem;
    }
    .col-flex h2{
        font-size: 1.5rem;
    }
}

.col-flex{
    display: flex;
    flex-direction: column;
}